.btn-var(@color){
	border-bottom-color: darken(@color, 15);
	#gradient.vertical(lighten(@color, 5), darken(@color, 20));
	&:hover{
		background: darken(@color, 15);
		color: rgba(255, 255, 255, .8);
	}
}

.btn {
	display: inline-block;
	text-decoration: none;
	margin-top: 0;margin-bottom:0;
	color: #fff;
	border: 1px solid transparent;
	border-radius: @border-radius-base;
	line-height: @line-height-base;
	padding: @padding-base-vertical @padding-base-horizontal;
	font-weight:bold;
	font-size: @font-size-base;
	vertical-align: middle;
	&:hover {
		text-decoration:none;//for link
	}
}

.btn-default{
	color: #000;
	.btn-var(@btn-default-bg);
}

.btn-inverse {
	.btn-var(#555);
}
.btn-danger {
	.btn-var(@btn-danger-bg);
}

.btn-info {
	.btn-var(@btn-info-bg);
}
.btn-success {
	.btn-var(@btn-success-bg);
}
.btn-primary {
	.btn-var(@btn-primary-bg);
}
.btn-warning {
	.btn-var(@btn-warning-bg);
}

.btn-sm {
	font-size: .7em;
}
.btn-lg {
	font-size: 1.2em;
}

.btn-round {
	border-radius: 20px;
}

.btn.disabled,
.btn[disabled],
.btn-disabled,
.btn-disabled:hover {
	.opacity(1);
	background: darken(#fff, 18);
	border: 1px solid darken(#fff, 30);
	text-shadow: 0 1px 1px #fff;
}

.btn.disabled,
.btn[disabled]{
	color: #999;
}
